
SmartAlarm/.vscode/arduino.json
*.json
SmartAlarm/.vscode/ipch/1683c5d94918e666/mmap_address.bin
SmartAlarm/.vscode/ipch/487853fe7c05c25f/mmap_address.bin
SmartAlarm/.vscode/ipch/487853fe7c05c25f/TONE.ipch
SmartAlarm/.vscode/ipch/a709f994aabed425/CARDINFO.ipch
SmartAlarm/.vscode/ipch/a709f994aabed425/mmap_address.bin
